.type {
    margin: -20px 0px 6px 30px;
    display: flex;
    flex-direction: row;
}

.typecolor {
    margin-right: 5px;
    width: 48px;
    text-align: center;
    font-size: small;
    padding: 0px;
    border: thin solid black;
    border-radius: 10px;
    border-color: transparent;
}

.typecolorall {
    margin-right: 5px;
    width: 70px;
    text-align: center;
    font-size: small;
    padding: 0px;
    border: thin solid black;
    border-radius: 10px;
    border-color: transparent;
}

/* body {
    background-image: url('/img/pika.jpg');
} */

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.vamp {
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

.ability {
    color: white;
}

.space {
    margin-left: 2px;
    margin-right: 2px;
}

.info {
    margin-left: 10px;
    color: white;
    font-size: 13px;
    margin-bottom: 8px;
}

.evo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    max-width: 100px;
    border-radius: 200px;
    background-color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.cont {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #222;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.ball {
    display: inline-block;
    margin-left: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    -moz-animation: bounce 1.7s infinite cubic-bezier(0.55, 0.06, 0.68, 0.19);
    -webkit-animation: bounce 1.7s infinite cubic-bezier(0.55, 0.06, 0.68, 0.19);
    animation: bounce 1.7s infinite cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

.ball:nth-child(1) {
    animation-delay: .2s;
}

.ball:nth-child(2) {
    animation-delay: .4s;
}

.ball:nth-child(3) {
    animation-delay: .6s;
}

.ball:nth-child(4) {
    animation-delay: .8s;
}

.ball:nth-child(5) {
    animation-delay: 1s;
}

@-moz-keyframes bounce {
    0% {
        transform: translateY(0);
    }

    15% {
        transform: translateY(-22px);
    }

    30% {
        transform: translateY(0);
    }
}

@-webkit-keyframes bounce {
    0% {
        transform: translateY(0);
    }

    15% {
        transform: translateY(-22px);
    }

    30% {
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    15% {
        transform: translateY(-22px);
    }

    30% {
        transform: translateY(0);
    }
}

.test {
    display: flex;
    flex-direction: row;
}

.posright {
    width: 15px;
    margin-left: -15px;
}

.posleft {
    width: 15px;
    margin-right: -15px;
}

.random {
    width: 40px;
    height: 40px;
    z-index: 100;
    margin-top: -130px;
    margin-left: 50px;
}

.randomm {
    margin-top: -130px;
    display: flex;
    justify-content: end;
    margin-right: 50px;
}

.random:hover {
    cursor: pointer;
    animation: shake 1s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translate(0, 0) rotate(0);
    }

    20% {
        transform: translate(-10px, 0) rotate(-20deg);
    }

    30% {
        transform: translate(10px, 0) rotate(20deg);
    }

    50% {
        transform: translate(-10px, 0) rotate(-10deg);
    }

    60% {
        transform: translate(10px, 0) rotate(10deg);
    }

    100% {
        transform: translate(0, 0) rotate(0);
    }
}

.hidden {
    display: hidden;
}