.type {
    margin: -20px 0px 6px 30px;
    display: flex;
    flex-direction: row;
}

.typecolor {
    margin-right: 5px;
    width: 48px;
    text-align: center;
    font-size: small;
    padding: 0px;
    border: thin solid black;
    border-radius: 10px;
    border-color: transparent;
}

.typecolorall {
    margin-right: 5px;
    width: 70px;
    text-align: center;
    font-size: small;
    padding: 0px;
    border: thin solid black;
    border-radius: 10px;
    border-color: transparent;
}

/* body {
    background-image: url('/img/pika.jpg');
} */

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.vamp {
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

.ability {
    color: white;
}

.space {
    margin-left: 2px;
    margin-right: 2px;
}

.info {
    margin-left: 10px;
    color: white;
    font-size: 13px;
    margin-bottom: 8px;
}





.hover p {
    position: absolute;
    color: white;
    margin-top: -25px;
    margin-left: 7px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.hover:hover p {
    visibility: visible;
    opacity: 1;
}

.cloud {
	position: relative;
	background: black;
    border-radius: 5px;
    width: 35px;
}
.cloud:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: black;
	border-width: 5px;
	margin-left: -5px;
}

.evo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    max-width: 100px;
    border-radius: 200px;
    background-color: gray;
}